/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  footer {
    text-align: center;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }

  .members-wrapper {
    text-align: left;
    background:#ddd url(../images/bg.jpg) no-repeat;
    background-size: contain;   /* レスポンシブで背景画像を調整 */
  }


  .header-right {
    display: none;
  }


  .menu-icon {
    display: block;
  }

  .members-wrapper h1 {
    font-size: 24px;
  }

  .members-wrapper p {
    font-size: 14px;
  }

  .members-wrapper h2 {
    color: #002333;
  }

  .heading h4 {
    font-size: 12px;
    text-align: left;
  }
}
